/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* img{
    max-width: 100%;
} */

/* COMMON */
/* Layout */
.container{
    width: 100%;
    padding: 0 20px;
}

.p-20{
    padding-top: 20px;
}

.pb-20{
    padding-bottom: 20px;
}

.center{
    text-align: center;
}

/* HEADER */
.header{
    height: 80px;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    color: #ff9613;
}

/* MAIN */
main{
    background-color: #f6f5f3;
    padding: 20px 0;
    font-family: Montserrat, 'Helvetica Neue', sans-serif;
}

.title-block{
    display: flex;
    justify-content: space-between;
}

.mini-title{
    color: #b6b6b5;
}

.main-title{
    font-family: "Nerko One", cursive;
    color: #4e3969;
    font-size: 2rem;
}

.card{
    display: flex;
    flex-wrap: wrap;
}

.video-col{
    aspect-ratio: 2;
}

.video-col,
.list-col{
    width: 100%;
}

.list-col{
    background-color: #ffffff;
    padding-left: 20px;
}

ul{
    padding: 20px 0;
    list-style: none;
}

li{
    margin-bottom: 10px;
}

.col{
    width: 20%;
    display: flex;
    justify-content: center;
}

.button{
    width: 40px;
    height: 30px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    line-height: 10px;
}

.hidden{
    display: none;
}

.img{
    width: 40%;
}

.banner{
    width: 100%;
    display: none;
}

.line{
    width: 50px;
    border: 1px solid #ff9613;
}

.text{
    line-height: 2;
}

/* FOOTER */
.footer-block{
    display: flex;
    justify-content: space-between;
}

.footer-col{
    width: 100%;
}

.footer{
    /* debug */
    background-color: chartreuse;
}

/* *********** */
/* RESPONSIVE */
/* ********** */

/* TABLET */
@media screen and (min-width: 768px) {
    /* COMMON */
    /* Layout */
    .container{
        padding: 0 40px;
    }

    /* HEADER */
    .header{
        justify-content: flex-start;
    }

    /* MAIN */
    .img{
        float: left;
        width: 30%;
        margin-right: 10px;
    }

    .banner{
        display: block;
    }

    ul{
        display: flex;
        flex-wrap: wrap;
    }

    li{
        padding: 0 30px;
    }

    .button{
        width: 100px;
    }
}

/* DESKTOP */
@media screen and (min-width: 992px) {
    /* COMMON */
    /* Layout */
    .container{
        width: 80%;
        max-width: 1100px;
        margin: 0 auto;
        padding: 0;
    }

    /* HEADER */
    .header{
        justify-content: flex-start;
    }

    /* MAIN */
    .video-col{
        width: 70%;
    }

    .list-col{
        width: 30%;
    }

    .img{
        float: left;
        width: 30%;
        margin-right: 10px;
    }

    .banner{
        display: block;
    }

    ul{
        display: block;
    }

    li{
        padding: 0;
    }

    .button{
        width: 150px;
    }

    .hidden{
        display: inline-block;
    }

    /* FOOTER */
    .footer-col{
        width: 50%;
    }
}